#
# For gliderfs2
#
# The service script for running syncGMC.py
# which syncs /var/opt/sfmc-dockserver/stations to a remote
#
# copy this file to /etc/systemd/system
#
# sudo cp syncGMC2fs2.service /etc/systemd/system/
#
# March-2019, Pat Welch, pat@mousebrains.com

[Unit]
Description=Sync /var/opt/sfmc-dockserver/stations to gliderfs2:/data/Dockserver/gliderfmc0

[Service]
# Type=simple # Default
User=pat
Group=pat
SupplementaryGroups=localuser
WorkingDirectory=/home/pat/logs
#
# See /home/pat/.ssh/config for where fs2 points to and which identity file it uses
#
ExecStart=/home/pat/bin/syncGMC.py \
	--rsyncTarget=fs2:/data/Dockserver/gliderfmc0 \
	--rsyncExclude=.archived-deployments \
	--exclude=.archived-deployments \
	--trigger=/archive \
	--trigger=/configuration \
	--trigger=/from-glider \
	--trigger=/to-glider \
	--trigger=/to-science \
	--trigger=/gliderState.xml\
	--logfile=/home/pat/logs/fs2.log \
	--mailTo=aerofeev@coas.oregonstate.edu \
	--mailTo=pat@mousebrains.com  \
	/var/opt/sfmc-dockserver/stations
RestartSec=300
Restart=always

[Install]
WantedBy=multi-user.target
